.box {
    margin-top: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
    background-color: whitesmoke;
}

.reviewTables {
    width: fill-available;
    height: 50%;
}

.reviewTableHeader {
    font-size: 17px !important;
    font-weight: bold !important;
}

.detailTable {
    margin-top: 35px;
    height: 50%;
}

.home-button {
    margin-top: 35px !important;
}

.title {
    font-weight: bold !important;
    justify-content: center;
}

.nav-bar {
    margin-bottom: 35px;
}

.comment {
    min-height: 52px;
    max-height: 120px; 
    overflow: auto;
}